<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>

  <div class="container mb-3">

    <h2 class="mb-3">Make Trades</h2>

      <%- include('../partials/index/board-table') %>

    <div class="row mb-3">

      <%- include('../partials/index/new-button') %>
      <%- include('../partials/index/page-number') %>

    </div>

      <%- include('../partials/index/post-count') %>

  </div>
</body>

</html>
