<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/head') %>
</head>

<body>
  <%- include('../../partials/nav') %>

  <div class="container mb-3">

    <h2 class="mb-3">자유 게시판</h2>
    <small>소중한 이웃과의 소통 공간입니다. 과도한 욕설 및 비방은 자제해주세요.</small>

      <%- include('../../partials/boards/index/board-table') %>

    <div class="row mb-3">

      <%- include('../../partials/boards/index/new-button') %>
      <%- include('../../partials/boards/index/page-number') %>

    </div>

      <%- include('../../partials/boards/index/post-count') %>

  </div>
  <%- include('../../partials/footer') %>
</body>

</html>
