<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <div class="jumbotron">
        <h1>우리 동네 이야기</h1>
        <P>우리동네 소통의 장 </p>
      </div>
      <table class= "minitable" >
        <span> <i class='far fa-thumbs-up' style='font-size:24px'></i> 공지사항 BEST </span>
        <tbody>
          <% if(posts == null || posts.length == 0){ %>
          <tr>
            <td colspan=100> 아직 포스트가 없어요:( </td>
          </tr>
          <% } %>
          <% posts.forEach(function(post) { %>
          <tr>
            <td>
              <div class="ellipsis">
              <a href="/boards/notices/<%= post._id %>"><%= post.title %></a>
              </div>
            </td>
            <td>
              <div> <i class='far fa-thumbs-up' style='font-size:12px'></i>: <%= post.likes %></div>
            </td>
            <td class="author">
              <!-- 2 -->
              <div class="ellipsis"><%= post.author ? post.author.name : "" %></div>
            </td>

          </tr>
          <% }) %>
        </tbody>

      </table>

      <table class= "minitable" >
        <span> <i class='far fa-thumbs-up' style='font-size:24px'></i>자유게시판 BEST </span>
        <tbody>
          <% if(postss == null || postss.length == 0){ %>
          <tr>
            <td colspan=100> 아직 포스트가 없어요:( </td>
          </tr>
          <% } %>
          <% postss.forEach(function(post) { %>
          <tr>
            <td>
              <div class="ellipsis">
              <a href="/boards/frees/<%= post._id %>"><%= post.title %></a>
              </div>
            </td>
            <td>
              <div> <i class='far fa-thumbs-up' style='font-size:12px'></i>: <%= post.likes %></div>
            </td>
            <td class="author">
              <!-- 2 -->
              <div class="ellipsis"><%= post.author ? post.author.name : "" %></div>
            </td>

          </tr>
          <% }) %>
        </tbody>

      </table>
<table>
      <span> <i class='far fa-thumbs-up' style='font-size:24px'></i>직거래 BEST </span>
      <tbody>
        <% if(postsss == null || postsss.length == 0){ %>
        <tr>
          <td colspan=100> 아직 포스트가 없어요:( </td>
        </tr>
        <% } %>
        <% postsss.forEach(function(post) { %>
        <tr>
          <td>
            <div class="ellipsis">
            <a href="/boards/trades/<%= post._id %>"><%= post.title %></a>
            </div>
          </td>
          <td>
            <div> <i class='far fa-thumbs-up' style='font-size:12px'></i>: <%= post.likes %></div>
          </td>
          <td class="author">
            <!-- 2 -->
            <div class="ellipsis"><%= post.author ? post.author.name : "" %></div>
          </td>

        </tr>
        <% }) %>
      </tbody>

</table>



    </div>
  </body>
</html>
