<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
  <div class="container mb-3">
    <div class="jumbotron">
      <h1>우리 동네 이야기</h1>
      <P>우리동네 소통의 장 </p>
    </div>

    <div class="best-container">
      <div class="best-three normal">
        <div class="best-board">
          공지사항 BEST
        </div>
        <div class="best-posts">
          <% if(posts == null || posts.length == 0){ %>
          <div class="best-posts empty">
            아직 포스트가 없어요:(
          </div>
          <% } %>
          <% posts.forEach(function(post) { %>
          <div class="best-posts title">
            <a href="/boards/notices/<%= post._id %>"><%= post.title %></a>
          </div>
          <div class="best-posts author">
            <%= post.author ? post.author.name : "" %>
          </div>
          <div class="best-posts likes">
            <i class='far fa-thumbs-up' style='font-size:12px'></i> <%= post.likes %>
          </div>

          <% }) %>
        </div>
      </div>

      <div class="best-three normal">
        <div class="best-board">
          자유게시판 BEST
        </div>
        <div class="best-posts">
          <% if(postss == null || postss.length == 0){ %>
          <div class="best-posts empty">
            아직 포스트가 없어요:(
          </div>
          <% } %>
          <% postss.forEach(function(post) { %>
          <div class="best-posts title">
            <a href="/boards/notices/<%= post._id %>"><%= post.title %></a>
          </div>
          <div class="best-posts author">
            <%= post.author ? post.author.name : "" %>
          </div>
          <div class="best-posts likes">
            <i class='far fa-thumbs-up' style='font-size:12px'></i> <%= post.likes %>
          </div>

          <% }) %>
        </div>
      </div>

      <div class="best-three end">
        <div class="best-board">
          장터 BEST
        </div>
        <div class="best-posts">
          <% if(postsss == null || postsss.length == 0){ %>
          <div class="best-posts empty">
            아직 포스트가 없어요:(
          </div>
          <% } %>
          <% postsss.forEach(function(post) { %>
          <div class="best-posts title">
            <a href="/boards/notices/<%= post._id %>"><%= post.title %></a>
          </div>
          <div class="best-posts author">
            <%= post.author ? post.author.name : "" %>
          </div>
          <div class="best-posts likes">
            <i class='far fa-thumbs-up' style='font-size:12px'></i> <%= post.likes %>
          </div>

          <% }) %>
        </div>
      </div>
    </div>

  </div>
  <%- include('../partials/footer') %>
</body>

</html>
