<div class="card">
  <h5 class="card-header p-2"><%= post.title %></h5>
  <div class="row">

    <div class="col-md-7 col-lg-8 col-xl-9 order-sm-2 order-md-1">
      <div class="post-body p-2"><%= post.body %></div>
    </div>

    <div class="col-md-5 col-lg-4 col-xl-3 order-sm-1 order-md-2">
      <div class="post-info card m-2 p-2">
        <div class="border-bottom pb-1 mb-1">
          <span>글쓴이</span> : <%= post.author ? post.author.name : "" %>
        </div>
        <div><span>작성일</span> :
          <span data-date-time="<%= post.createdAt %>"><%= post.createdAt %>
          </span>
        </div>
        <% if(post.updatedAt) { %>
        <div><span>수정일</span> :
           <span data-date-time="<%= post.updatedAt %>"><%= post.updatedAt %>
           </span>
        </div>
        <% } %>

        <div><span>좋아요</span> :
           <%= post.likes %>

        </div>




      </div>
    </div>

  </div>
</div>
